<p id="notice"><%= notice %></p>

<p>
  <b>Namediscipline:</b>
  <%= @discipline.namediscipline %>
</p>


<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<%= link_to 'Back', disciplines_path %>
