html,body{margin:0;padding:0}
body{
  background-image:url(deco.jpg);
  font-family: Segoe UI;
  font-size: 10pt;
  margin-left: 35 px;
  margin-top: 15 px;
  background-position: top left;
  background-repeat: repeat-y;
  
}
p{margin:0 10px 10px}
a{padding:5px; text-decoration:none; color:#000000;}
div#header{background-color:#F3F2ED;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}
div#container{text-align:left}
div#content p{line-height:1.4}
div#navigation{background:#F6F0E0;}
div#navigation ul{margin:15px 0; padding:0; list-style-type:none;}
div#navigation li{margin-bottom:5px;}
div#extra{background:#CCC8B3;}
div#footer{background:#BFBD93;}
div#footer p{margin:0;padding:5px 10px}
div#container{
  width:700px;
  margin:0 auto;
  background-image:url(fondo1.jpg);
  background-position:top left;
  background-repeat:no-repeat;
  padding-bottom:78px;
}
div#content{float:right;width:500px}
div#navigation{float:left;width:200px}
div#extra{float:right;width:500px}
div#footer{clear:both;width:100%}
div.field, div.actions {
  margin-bottom: 10px;
}
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

