html,body{margin:0;padding:0}
body{
	background:#006666;
	font-family: Segoe UI;
	font-size: 10pt;
	margin-left:35px;
	margin-top:15px;
	/*background-position:inherit;*/
	width:100%; 
}
p{
margin:0 10px 10px;
}
a{padding:5px; text-decoration:none; color:#000000;}

div#container{
  background:url(../images/draw.jpg);
  background-repeat:no-repeat;
  background-position:top left;
  /*background-position:50% 50%;*/
  width:900px;
  margin:0 auto;
  margin-left:10px;
 /* background-image:url(fondo1.jpg);
 
  background-repeat:no-repeat;*/
  padding-bottom:78px;
  text-align:left;
}
div#header{
	background-color:none;
	height:80px;
	line-height:80px;
}
div#header h1{
	padding-top:50px;
	padding-left:120px;
	color:#C73B0B;
}
div#content{
	float:left;
	width:500px;
	height:450px;
	margin:70px auto;
}
div#content p{
line-height:1.4;
text-align:justify;}
div#navigation{
	/*background:#F6F0E0;*/
	background:#FFFBD0;
	margin:70px;
	margin-left:190px;
	float:left;
}
div#navigation ul{
	margin:15px 0; 
	padding:0; 
	list-style-type:none;
}
div#navigation li{margin-bottom:5px;}


div#navigation{float:left;width:100px}
div#footer{
	/*background:#BFBD93;*/
	background:#CC9900 repeat-x;
	clear:both;
	width:900px;
	margin-left:1px;
	/*margin50px;*/
}
div#footer p{
	/*margin:0 auto 0 10px;*/
	padding:10px 10px;
	text-align:center
}
.capitalLetter
{
   float:left;
   color:black;
   background:white;
   border:1px solid #999999;
   font-size:20px;
   line-height:60px;
   padding:2px;
   font-family:times;
   margin-right: 5px;
}
