<div id="content">
<p><span class="capitalLetter">Galleryart</span> nace con la ilusión de dar a conocer el Arte por el Arte, dando cabida a todos los artistas que quieran exponer en ella.
Pretende mostrar a todo tipo de artistas, estilos y tendencias, promocionando y dando a conocer sus obras.
GALLERYART quiere ser un punto de encuentro de personas que aman el arte</p>
<p>En nuestra galería podrás promocionar y dar a mostras tus obras mas facilmente.
Visita nuestra coleccion de Arte, lugar que deseamos ir ampliando y publicando nuevas ediciones.
Grandes autores: GALLERYART ofrece información sobre autores contemporaneos de reconocido nivel en el mundo del arte.</p>
</div>
